<form [formGroup]="registerForm" name="appraisalRequest">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-heading title_color">Submit Assignment</h2>
      <h4>Client/Company</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control" id="companyName" formControlName="companyName" required>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="adjusterFirstName">Adjuster/Contact First Name</label>
      <input type="text" class="form-control" id="adjusterFirstName" formControlName="adjusterFirstName">
    </div>
    <div class="form-group col-md-6">
      <label for="adjusterLastName">Adjuster/Contact Last Name</label>
      <input type="text" class="form-control" id="adjusterLastName" formControlName="adjusterLastName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="adjusterPhone">Phone Number</label>
      <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="adjusterPhone"
             formControlName="adjusterPhone">
    </div>
    <div class="form-group col-md-6">
      <label for="adjusterEmail">Email Address</label>
      <input type="email" class="form-control" id="adjusterEmail" formControlName="adjusterEmail">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="companyAddress1">Client/Company Address</label>
      <input type="text" class="form-control" id="companyAddress1" formControlName="companyAddress1"
             placeholder="1234 Main St">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control" id="companyAddress2" formControlName="companyAddress2"
             placeholder="Suite 100"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="companyCity">City</label>
      <input type="text" class="form-control" id="companyCity" formControlName="companyCity">
    </div>
    <div class="form-group col-md-4">
      <label for="companyState">State</label>
      <select id="companyState" class="form-control" formControlName="companyState">
        <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="companyZip">Zip</label>
      <input type="text" class="form-control" id="companyZip" formControlName="companyZip">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <input type="file" #fileUpload1 id="fileUpload1" name="fileUpload1" accept="image/*"/>
      <br/><br/>
      <input type="file" #fileUpload2 id="fileUpload2" name="fileUpload2" accept="image/*"/>
      <br/><br/>
      <input type="file" #fileUpload3 id="fileUpload3" name="fileUpload3"  accept="image/*"/>
    </div>
    <div class="col-md-6">
      <input type="file" #fileUpload4 id="fileUpload4" name="fileUpload4"  accept="image/*"/>
      <br/><br/>
      <input type="file" #fileUpload5 id="fileUpload5" name="fileUpload5"  accept="image/*"/>
      <br/><br/>
      <input type="file" #fileUpload6 id="fileUpload6" name="fileUpload6"  accept="image/*"/>
    </div>
  </div>
  <br/><br/><br/>
  <div class="form-row">
    <div *ngIf="isWaiting()" class="align-content-center p-4 col-md-12">
      <img alt="Waiting..." src="/img/waiting.gif"/>
    </div>
    <div class="col-md-4" *ngIf="!isWaiting()" >

      <div>
        <div *ngIf="hasFailed()">
          <div class="alert alert-danger">Your request failed. Please select your upload files and try again.</div>
          <br/>
        </div>
        <button *ngIf="showSubmitButton()" type="button" class="main_btn" (click)="create()">Save Me</button>
      </div>
    </div>
    <div class="col-md-8" *ngIf="!isWaiting()">
      <h4>Upload Documents and Photos</h4>
      <app-multi-upload></app-multi-upload>
    </div>
  </div>



</form>
