<div class="border  mh-100">
  <ul>
    <li *ngFor="let file of files" value="{{file.id}}" class="text-left list-group-item">
      <button class="btn btn-link" (click)="removeFile(file)">[delete]</button>
      <button type="button" class="btn btn-link">{{file.data.name}}</button>
      <span>{{file.name}}</span>
    </li>
  </ul>
  <br *ngIf="files.length"/>
  <div class="overflow-auto">
    <button class="btn btn-secondary m-2" (click)="onClick()">
      Upload
    </button>
  </div>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
         style="display:none;"/></div>

