<!DOCTYPE html>
<html>
<head>
    <base target="_top">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        const identifier = '<?= identifier ?>';
        const updateEmail = '<?= updateEmail ?>';
        const assignmentRequestId = '<?= assignmentRequestId ?>';
        const includeEmailMessage = updateEmail && updateEmail.length > 0;
        const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$;
        let hasBeenValidated = false;
        let isValid = true;

        $(document).ready(() => {
            //Update the title with the url

            if (!identifier || identifier.length === 0) {
                ///return error form
                alert('Bad request, no Assignment Request Identifier: ' + idendifier );
            } else if(!includedEmailMessage) {
                $('#includedEmailMessage').hide();
            }
        });

        function saveUpdate() {
            const comments = $('#commentsText').val();
            const emails = $('#emailAddresses').val();
            const cc = $('#cc').val();


            function isEmail(str) {
                return emailRegex.test(str);
            }

            function validateEmails(str) {
                let emailsArr = str.split(',');
                var validEmails = [];
                var invalidEmails = [];
                if(emailsArr.length){
                    emailsArr.forEach(e => {
                        let eml = e.trim();
                        if(isEmail(eml)){
                            validEmails.push(eml);
                        } else {
                            invalidEmails.push(eml);
                        }
                    });

                    return {
                        validEmails: validEmails,
                        invalidEmails: invalidEmails
                    };
                } else {
                    return {
                        validEmails: [],
                        invalidEmails: []
                    };
                }
            }


            function passedValidation() {
                const validatedEmails = validateEmails(emails.trim());
                const validatedCc = validateEmails(cc.trim());
                var isValid = true;
                if(validatedEmails.invalidEmails.length) {
                    // show bad emails
                    isValid = false;
                }

                if(validatedCc.invalidEmails.length) {
                    // show bad emails
                    isValid = false;
                }

                if (!identifier || identifier.length === 0) {
                    isValid = false;
                } else if (!comments || comments.length === 0) {
                    isValid = false;
                }

                hasBeenValidated = true;
                return isValid;
            }

            function updateDisplay() {

            }

            function handleFailure(msg) {

            }


            if (passedValidation()) {
                google.script.run
                    .withSuccessHandler(function (contents) {
                        // Respond to success conditions here.
                        updateDisplay(contents);
                    })
                    .withFailureHandler(function (msg) {
                        // Respond to failure conditions here.
                        handleFailure(msg);
                    })
                    .updateAssignmentRequest({
                        identifier: identifier,
                        assignmentRequestId: assignmentRequestId,
                        emails: getEmails(),
                        cc: getCc(),
                        comments: comments
                    });
            } else {
                alert('Please request a valid URL to this form');
            }
        }
    </script>
</head>
<body>
<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Assignment Request Update (<?= identifier ?>) for <?= companyName ?></h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <p>Please include email addresses of additional recipients. <span id="includedEmailMessage">We will send this email to <?= updateEmail ?> as well.</span></p>
            <form name="updateForm" onsubmit="saveUpdate()">
                <input type="hidden" id="assignment-request-id"/>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="emailAddresses">Email Address Separated by Comma</label>
                        <input type="text" class="form-control" id="emailAddresses" name="emailAddresses"
                               placeholder="Emails">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ccEmails">CC Email Address Separated by Comma</label>
                        <input type="text" class="form-control" id="ccEmails" name="ccEmails">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p>Update Comments</p>
                        <textarea class="form-control" id="commentsText" name="commentsText" rows="10"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>