<form [formGroup]="registerForm" name="appraisalRequest">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2 class="text-heading title_color">Submit Assignment</h2>
      <p>Have your own assignment sheet? Simply complete the required fields and upload assignment
        sheet
        below,
        we'll do the rest.</p>
      <h4>Client/Company</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control" id="companyName" formControlName="companyName" required>
        </div>
        <div class="form-group col-md-6">
          <label for="accountNumber">Account Number</label>
          <input type="text" class="form-control" id="accountNumber" formControlName="accountNumber"
                 placeholder="If available">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="adjusterFirstName">Adjuster First Name</label>
          <input type="text" class="form-control" id="adjusterFirstName" formControlName="adjusterFirstName">
        </div>
        <div class="form-group col-md-6">
          <label for="adjusterLastName">Adjuster Last Name</label>
          <input type="text" class="form-control" id="adjusterLastName" formControlName="adjusterLastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="adjusterPhone">Phone Number</label>
          <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="adjusterPhone"
                 formControlName="adjusterPhone">
        </div>
        <div class="form-group col-md-6">
          <label for="adjusterEmail">Email Address</label>
          <input type="email" class="form-control" id="adjusterEmail" formControlName="adjusterEmail">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="companyAddress1">Client/Company Address</label>
          <input type="text" class="form-control" id="companyAddress1" formControlName="companyAddress1"
                 placeholder="1234 Main St">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" class="form-control" id="companyAddress2" formControlName="companyAddress2"
                 placeholder="Suite 100"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="companyCity">City</label>
          <input type="text" class="form-control" id="companyCity" formControlName="companyCity">
        </div>
        <div class="form-group col-md-4">
          <label for="companyState">State</label>
          <select id="companyState" class="form-control" formControlName="companyState">
            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="companyZip">Zip</label>
          <input type="text" class="form-control" id="companyZip" formControlName="companyZip">
        </div>
      </div>

      <h4>Insured/Claimant Information</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="claimNumber">Claim Number</label>
          <input type="text" class="form-control" id="claimNumber" formControlName="claimNumber">
        </div>
        <div></div>
        <div class="form-group col-md-6">
          <label>Is this the Insured or Claimant</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="insuredOrClaimant"
                   id="isTheInsured"
                   formControlName="insuredOrClaimant" value="insured">
            <label class="form-check-label" for="isTheInsured">
              Insured
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="insuredOrClaimant"
                   id="isTheClaimant"
                   formControlName="insuredOrClaimant" value="claimant">
            <label class="form-check-label" for="isTheClaimant">
              Claimant
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control" id="policyNumber"
                 formControlName="policyNumber">
        </div>
        <div class="form-group col-md-6">
          <label>Insured/Claimant Same as Owner?</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="insuredClaimantSameAsOwner"
                   id="yesSameAsOwner" value="yes" formControlName="insuredClaimantSameAsOwner">
            <label class="form-check-label" for="yesSameAsOwner">
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="insuredClaimantSameAsOwner"
                   id="notSameAsOwner" value="no" formControlName="insuredClaimantSameAsOwner">
            <label class="form-check-label" for="notSameAsOwner">
              No
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="insuredClaimantSameAsOwner"
                   id="unknownSameAsOwner" value="unknown" formControlName="insuredClaimantSameAsOwner">
            <label class="form-check-label" for="unknownSameAsOwner">
              Unknown
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="deductibleAmount">Deductible Amount</label>
          <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01"
                 id="deductibleAmount" formControlName="deductibleAmount">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="claimantFirst">Claimant First Name</label>
          <input type="text" class="form-control" id="claimantFirst" formControlName="claimantFirst">
        </div>
        <div class="form-group col-md-6">
          <label for="claimantLast">Claimant Last Name</label>
          <input type="text" class="form-control" id="claimantLast" formControlName="claimantLast">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="claimantPhone">Phone Number</label>
          <input class="form-control" type="tel" value="1-(555)-555-5555" id="claimantPhone"
                 formControlName="claimantPhone">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="claimantEmail">Email Address</label>
          <input class="form-control" type="email" value="" id="claimantEmail" formControlName="claimantEmail">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="claimantAddress1">Address</label>
          <input type="text" class="form-control" id="claimantAddress1" placeholder="1234 Main St"
                 formControlName="claimantAddress1">
        </div>
        <div class="form-group col-md-6">
          <label for="claimantAddress2">Address 2</label>
          <input type="text" class="form-control" id="claimantAddress2" placeholder="Unit"
                 formControlName="claimantAddress2">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="claimantCity">City</label>
          <input type="text" class="form-control" id="claimantCity" formControlName="claimantCity">
        </div>
        <div class="form-group col-md-4">
          <label for="claimantState">State</label>
          <select id="claimantState" class="form-control" formControlName="claimantState">
            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="claimantZip">Zip</label>
          <input type="text" class="form-control" id="claimantZip" formControlName="claimantZip">
        </div>
      </div>
      <h4>Vehicle Information</h4>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="make">Make</label>
          <input type="number" class="form-control" id="make" formControlName="make">
        </div>
        <div class="form-group col-md-4">
          <label for="model">Model</label>
          <input type="text" class="form-control" id="model" formControlName="model">
        </div>
        <div class="form-group col-md-4">
          <label for="year">year</label>
          <input type="number" class="form-control" id="year" formControlName="year">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="vin">VIN</label>
          <input type="text" class="form-control" id="vin" formControlName="vin">
        </div>
        <div class="form-group col-md-4">
          <label for="license">Tag/License</label>
          <input type="text" class="form-control" id="license" formControlName="license">
        </div>
        <div class="form-group col-md-2">
          <label for="licenseState">State</label>
          <select id="licenseState" class="form-control" formControlName="licenseState">
            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="dateOfLoss">Date of Loss</label>
          <input type="date" class="form-control" id="dateOfLoss" formControlName="dateOfLoss">
        </div>
        <div class="form-group col-md-4">
          <label for="typeOfLoss">Type of Loss</label>
          <input type="text" class="form-control" id="typeOfLoss" formControlName="typeOfLoss">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="lossDescription">Loss Description</label>
          <textarea class="form-control" id="lossDescription" rows="4" formControlName="lossDescription"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Provide copy of appraisal/estimate?</label>&nbsp;
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="providesCopyOfAppraisal"
                   id="yesProvidesCopyOfAppraisal" value="true" formControlName="providesCopyOfAppraisal">
            <label class="form-check-label" for="yesProvidesCopyOfAppraisal">
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="providesCopyOfAppraisal"
                   id="notProvidesCopyOfAppraisal" value="false" formControlName="providesCopyOfAppraisal">
            <label class="form-check-label" for="notProvidesCopyOfAppraisal">
              No
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="providesCopyOfAppraisal"
                   id="naProvidesCopyOfAppraisal" value="unknown" formControlName="providesCopyOfAppraisal">
            <label class="form-check-label" for="naProvidesCopyOfAppraisal">
              N/A
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>If total loss, request salvage bids?</label>&nbsp;
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="requestSalvageBids"
                   id="yesRequestSalvageBids" value="yes" formControlName="requestSalvageBids">
            <label class="form-check-label" for="yesRequestSalvageBids">
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="requestSalvageBids"
                   id="notRequestSalvageBids" value="no" formControlName="requestSalvageBids">
            <label class="form-check-label" for="notRequestSalvageBids">
              No
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="requestSalvageBids"
                   id="naRequestSalvageBids" value="unknown" formControlName="requestSalvageBids">
            <label class="form-check-label" for="naRequestSalvageBids">
              N/A
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>If total loss, provide ACV evaluation?</label>&nbsp;
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="provideAcvEvaluation"
                   id="yesProvideAcvEvaluation" value="yes" formControlName="provideAcvEvaluation">
            <label class="form-check-label" for="yesProvideAcvEvaluation">
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="provideAcvEvaluation"
                   id="notProvideAcvEvaluation" value="no" formControlName="provideAcvEvaluation"/>
            <label class="form-check-label" for="notProvideAcvEvaluation">
              No
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="provideAcvEvaluation"
                   id="naProvideAcvEvaluation" value="unknown" formControlName="provideAcvEvaluation">
            <label class="form-check-label" for="naProvideAcvEvaluation">
              N/A
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="valuationMethod">Specify ACV Valuation Method, e.g., Dealer Quotes, NADA, CCC, or
            other.</label>
          <textarea class="form-control" id="valuationMethod" rows="2" formControlName="valuationMethod"></textarea>
        </div>
      </div>
      <h4>Vehicle Location</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="vehicleLocationName">Location Name</label>
          <input type="text" class="form-control" id="vehicleLocationName" formControlName="vehicleLocationName">
        </div>
        <div class="form-group col-md-6">
          <label>Is this a repair facility?</label>&nbsp;
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="isRepairFacility"
                     id="yesRepairFacility" value="true" formControlName="isRepairFacility">
              <label class="form-check-label" for="yesRepairFacility">
                Yes
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="isRepairFacility"
                     id="noRepairFacility" value="false" formControlName="isRepairFacility">
              <label class="form-check-label" for="noRepairFacility">
                No
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="isRepairFacility"
                     id="unknownIsRepairFacility" value="unknown" formControlName="isRepairFacility">
              <label class="form-check-label" for="unknownIsRepairFacility">
                Unknown
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="vehicleLocationAddress1">Address</label>
          <input type="text" class="form-control" id="vehicleLocationAddress1"
                 placeholder="1234 Main St" formControlName="vehicleLocationAddress1">
        </div>
        <div class="form-group">
          <label for="vehicleLocationAddress2">Address 2</label>
          <input type="text" class="form-control" id="vehicleLocationAddress2" placeholder="Unit"
                 formControlName="vehicleLocationAddress2">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="vehicleLocationCity">City</label>
            <input type="text" class="form-control" id="vehicleLocationCity" formControlName="vehicleLocationCity">
          </div>
          <div class="form-group col-md-4">
            <label for="vehicleLocationState">State</label>
            <select id="vehicleLocationState" class="form-control" formControlName="vehicleLocationState">
              <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="vehicleLocationZip">Zip</label>
            <input type="text" class="form-control" id="vehicleLocationZip" formControlName="vehicleLocationZip">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="vehicleLocationPhone">Phone Number</label>
          <input class="form-control" type="tel" value="1-(555)-555-5555"
                 id="vehicleLocationPhone" formControlName="vehicleLocationPhone">
        </div>
      </div>

      <div class="form-row">
        <div *ngIf="isWaiting()" class="align-content-center p-4 col-md-12">
          <img alt="Waiting..." src="/img/waiting.gif"/>
        </div>
        <div class="col-md-4" *ngIf="!isWaiting()" >

          <div>
            <div *ngIf="submitFailed()">
              <div class="alert alert-danger">Your request failed. Please select your upload files and try again.</div>
              <br/>
            </div>
            <button *ngIf="showSubmitButton()" type="button" class="main_btn" (click)="create()">Save Me</button>

            <!-- TODO: remove next line -->
            <br/><br/><br/>
            <button type="button" class="btn btn-secondary" (click)="populate()">Populate Me</button>
          </div>
        </div>
        <div class="col-md-8" *ngIf="!isWaiting()">
          <h4>Upload Documents and Photos</h4>
          <app-multi-upload></app-multi-upload>
        </div>
      </div>
    </div><!-- End form col-md-12-->
  </div><!-- End form row -->
  <!--  UP is what is staying -->
  <!--  UP is what is staying -->
  <!--  UP is what is staying -->
</form>
